@use '../global';
// @use '../mixins/animations'; // TODO: Add skeleton animation to the current time
@use '../mixins/colors' as c;
@use '../mixins/utils' as u;

body {
    @include u.reset-body();
    background: c.$black;
    min-height: 100vh;

    .navbar {
        @include u.flex($justify-content: space-between, $align-items: center);
        min-height: 60px;
        height: 100%;
        margin: 0 2rem;
        color: c.$white;

        > div {
            @include u.flex($justify-content: space-between, $align-items: center);
            @include u.full-size();
            margin: 0 auto;

            .icon-group {
                @include u.flex($justify-content: flex-start, $align-items: center);
                margin-left: 1.25rem;
                span {
                    margin-right: .5rem;
                }
            }

            &.left-side {
                width: fit-content;
                justify-content: flex-start;
            }

            &.right-side {
                justify-content: flex-end;
                gap: 0.33rem;
            }
        }
    }
}
