@keyframes ripple {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(2.5);
    }
}

@keyframes shake {
    0% {
        transform: translateX(0);
    }
    25% {
        transform: translateX(10px);
    }
    50% {
        transform: translateX(0);
    }
    75% {
        transform: translateX(-10px);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes close {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(0);
    }
}