/* Palette 
======================= */

$black: #1A1B26;
$darkblue: #292E42;
$red: #ff5f58;
$orange: #D7504B;
$yellow: #fdbc30;
$green: #28c841;
$lightgreen: #9AC868;
$darkgreen: #679269;
$paleblue: #507e93;
$blue: #7AA2F7;
$lightblue: #C0CAF5;
$pink: #BB7B98;
$purple: #BD93F9;
$darkpurple: #9D7CD8;
$white: #F2F2F2;
$gray: #BFBFBF;
$lightgray: #E5E5E5;
$darkgray: #7F7F7F;

/* Window Colors
======================= */ 
$wc-1: #D7504B;
$wc-2: #C0CAF5;
$wc-3: #9AC868;
$wc-4: #BB7B98;