@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto&display=swap");
/* Breakpoints
======================= */
/* CSS
======================= */
body, html {
  margin: 0;
  padding: 0;
  overflow: hidden;
  box-sizing: border-box;
  font-family: "Montserrat", "Roboto", sans-serif;
}

/* Palette 
======================= */
/* Window Colors
======================= */
/* Flex Mixins
======================= */
/* Border Radius Mixins
======================= */
/* Utils Mixins
======================= */
/* Reset Mixins
======================= */
body header {
  height: 60px;
  background: #1A1B26;
}
body header .navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  min-height: 60px;
  height: 100%;
  margin: 0 2rem;
  color: #F2F2F2;
}
body header .navbar > div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}
body header .navbar > div .icon-group {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  margin-left: 1.25rem;
}
body header .navbar > div .icon-group span {
  margin-right: 0.5rem;
}
body header .navbar > div.left-side {
  width: fit-content;
  justify-content: flex-start;
  gap: 0.33rem;
}
body header .navbar > div.right-side {
  justify-content: flex-end;
  gap: 0.33rem;
}
body header .navbar > div .weather {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  gap: 0.33rem;
  margin-right: 1.25rem;
  font-size: 0.75rem;
  font-weight: 500;
  color: #F2F2F2;
  margin-left: auto;
}
body header .navbar > div .weather span {
  margin-right: 0;
}

#app {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100vh;
}
#app-main {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
}
#app-main::-webkit-scrollbar {
  display: none;
}
#app-main > div {
  width: 100%;
  padding: 1rem 0 5rem 0;
}
#apps_os {
  padding: 1rem;
}
#apps_os .application {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  padding: 0.5rem 0;
  margin-bottom: 10px;
  max-width: 100px;
  cursor: pointer;
}
#apps_os .application img {
  width: 5rem;
  height: 5rem;
  border-radius: 1rem;
  -moz-border-radius: 1rem;
  -webkit-border-radius: 1rem;
  transition: all 0.2s ease-in-out;
  margin: 0 auto;
}
@media screen and (max-width: 768px) {
  #apps_os .application img {
    width: 4rem;
    height: 4rem;
  }
}
#apps_os .application p {
  color: #F2F2F2;
  width: 5.5rem;
  margin: 1rem 0 0 0;
  text-align: center;
  word-wrap: break-word;
}
@media screen and (max-width: 768px) {
  #apps_os .application p {
    margin: 0.75rem 0 0 0;
  }
}
#app .school-container_os {
  min-height: 93.4vh;
  width: 100%;
  height: 100%;
  background-color: #10111d;
  background: url("https://images.unsplash.com/photo-1485470733090-0aae1788d5af?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1217&q=80");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-blend-mode: overlay;
}
#app .school-os-wd {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: nowrap;
  border-radius: 1rem;
  -moz-border-radius: 1rem;
  -webkit-border-radius: 1rem;
  position: absolute;
  top: 20vh;
  left: 20%;
  min-width: 400px;
  min-height: 60vh;
  background-color: #F2F2F2;
  overflow: hidden;
  resize: both;
}
#app .school-os-wd .window-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  background: #1A1B26;
  color: white;
  padding: 0 1rem;
  box-sizing: border-box;
  cursor: grab;
}
#app .school-os-wd .window-bar .buttons {
  display: flex;
}
#app .school-os-wd .window-bar .buttons button {
  width: 1.25rem;
  height: 1.25rem;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 100%;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  transition: all 0.2s ease-in-out;
  margin-right: 10px;
  cursor: pointer;
  padding: 0;
}
#app .school-os-wd .window-bar .buttons button:hover > i {
  display: block;
}
#app .school-os-wd .window-bar .buttons button i {
  font-size: 0.5rem;
  margin: 0 auto;
  display: none;
  line-height: inherit;
}
#app .school-os-wd .window-bar-close {
  background-color: #ff5f58;
}
#app .school-os-wd .window-bar-minimize {
  background-color: #fdbc30;
}
#app .school-os-wd .window-bar-maximize {
  background-color: #28c841;
}
#app .school-os-wd .window-bar:active {
  cursor: grabbing;
}
#app .school-os-wd .window-bar .brand {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  width: fit-content;
  margin: 0 auto;
  position: relative;
  left: -2rem;
}
#app .school-os-wd .window-bar .brand img {
  width: 2rem;
}
#app .school-os-wd .window-bar .brand p {
  margin-left: 1rem;
  font-size: 1rem;
}

#os-menu {
  display: none;
  position: absolute;
  z-index: 10;
  background: #fff;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 3px 5px 10px rgba(255, 255, 255, 0.3), 6px 10px 10px rgba(255, 255, 255, 0.3);
}
#os-menu ul li {
  color: rgb(46, 26, 3);
  padding: 10px 0;
}
#os-menu ul li:hover {
  background: antiquewhite;
}
#os-menu.active {
  display: block;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 24px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(16px);
  -ms-transform: translateX(16px);
  transform: translateX(16px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

body {
  background-color: #1A1B26;
  background: url(https://images.pexels.com/photos/1743366/pexels-photo-1743366.jpeg?auto=compress&cs=tinysrgb) center center no-repeat;
  z-index: 1;
}
body .lock-screen {
  position: absolute;
  top: 60px;
  height: calc(100vh - 60px);
  width: 100vw;
  z-index: 1;
  flex-direction: column;
}
body .lock-screen_top {
  margin-top: 10vh;
}
body .lock-screen_top .current-time {
  color: #F2F2F2;
  text-align: center;
}
body .lock-screen_top .current-time_hour {
  font-size: clamp(5rem, 10vw, 6rem);
  display: block;
}
body .lock-screen_top .current-time_date {
  font-size: clamp(1.2rem, 3vw, 3rem);
  letter-spacing: 1px;
}
body .lock-screen .refresh-icon {
  display: inline-block;
  width: 20px;
  padding-left: 15px;
  background: transparent;
}
body .lock-screen_content {
  position: absolute;
  width: 100vw;
  height: 100vh;
  display: grid;
  place-items: center;
}
body .lock-screen_content_blur {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-size: cover;
  z-index: -1;
}
body .lock-screen_content_unlock {
  color: #F2F2F2;
  font-size: clamp(0.9rem, 3vw, 3rem);
  text-align: center;
  letter-spacing: 1px;
  margin: 0 40px;
  z-index: 20;
  opacity: 0;
}
body .lock-screen_content_unlock .password-input {
  position: relative;
}
body .lock-screen_content_unlock .password-input input[type=password] {
  width: calc(100% - 40px);
  height: 40px;
  line-height: 1;
  border: none;
  outline: none;
  padding: 0 20px;
  border-radius: 50px;
  margin: 20px auto;
  font-size: clamp(1rem, 3vw, 3rem);
  letter-spacing: 1px;
  background-color: rgba(255, 255, 255, 0.1);
  color: #F2F2F2;
  letter-spacing: 3px;
}
body .lock-screen_content_unlock .password-input_icon {
  position: absolute;
  top: 20px;
  right: 24px;
  width: 24px;
  height: 40px;
  object-fit: contain;
}
body .lock-screen_footer {
  position: relative;
  height: 25vh;
  width: 100%;
  margin-top: auto;
  margin-bottom: 0;
  text-align: center;
  color: #F2F2F2;
  font-size: clamp(1rem, 3vw, 2rem);
  letter-spacing: 1px;
}
body .lock-screen_footer-left {
  position: absolute;
  left: 5vw;
  bottom: 5vh;
}
body .lock-screen_footer-center {
  position: absolute;
  left: 50%;
  top: 0%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
body .lock-screen_footer-center a {
  position: relative;
  width: 50px;
  height: 50px;
  margin-top: 25px;
}
body .lock-screen_footer-center a img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
body .lock-screen_footer-center a .ripple {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 2px solid rgba(255, 255, 255, 0.2);
  transform: scale(0);
  box-sizing: border-box;
  transition: all 0.5s ease;
}
body .lock-screen_footer-right {
  position: absolute;
  right: 5vw;
  bottom: 5vh;
}
body .lock-screen_footer .icon-container {
  display: grid;
  place-items: center;
  border-radius: 100px;
  width: 60px;
  height: 60px;
  background: #F2F2F2;
}

/*# sourceMappingURL=home.css.map */
