@use './global.scss' as g;
@use './partials/navbar.scss';
@use './mixins/colors.scss' as c;
@use './mixins/utils' as u;

#app {
    @include u.reset-body();
    height: 100vh;

    &-main {
        @include u.full-size();
        overflow-y: scroll;
        &::-webkit-scrollbar {
            display: none;
        }

        > div {
            @include u.full-size();
            padding: 1rem 0 5rem 0;
        }
    }

    &s_os {
        padding: 1rem;

        .application {
            @include u.flex($justify-content: center, $align-items: center, $flex-direction: column);
            padding: 0.5rem 0;
            margin-bottom: 10px;
            max-width: 100px;
            cursor: pointer;

            img {
                @include u.set-size(5rem);
                @include u.border-radius(1rem);
                transition: all 0.2s ease-in-out;
                margin: 0 auto;
                @media screen and (max-width: g.$mobile) {
                    @include u.set-size(4rem);
                }
            }

            p {
                color: c.$white;
                width: 5.5rem;
                margin: 1rem 0 0 0;
                text-align: center;
                word-wrap: break-word;
                @media screen and (max-width: g.$mobile) {
                    margin: .75rem 0 0 0;
                }
            }
        }
    }

    .school-container_os {
        min-height: 93.4vh;
        @include u.full-size();
        background-color: #10111d;

        // TODO: Add the background-image using wallpaper settings
        background: url('https://images.unsplash.com/photo-1485470733090-0aae1788d5af?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1217&q=80');
        background-size: cover;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-blend-mode: overlay;
    }

    .school-os-wd {
        @include u.flex($flex-direction: column);
        @include u.border-radius(1rem);
        position: absolute;
        top: 20vh;
        left: 20%;
        min-width: 400px;
        min-height: 60vh;
        background-color: c.$white;
        overflow: hidden;
        resize: both;

        .window-bar {
            @include u.flex($justify-content: space-between, $align-items: center);
            background: c.$black;
            color: white;
            padding: 0 1rem;
            box-sizing: border-box;
            cursor: grab;

            .buttons {
                display: flex;

                button {
                    @include u.set-size(1.25rem);
                    @include u.reset-appearance();
                    @include u.border-radius(100%);
                    transition: all .2s ease-in-out;
                    margin-right: 10px;
                    cursor: pointer;
                    padding: 0;

                    &:hover > i {
                        display: block;
                    }

                    i {
                        font-size: 1rem;
                        margin: 0 auto;
                        display: none;
                        line-height: inherit;
                    }
                }
            }

            &-close {
                background-color: c.$red;
            }

            &-minimize {
                background-color: c.$yellow;
            }

            &-maximize {
                background-color: c.$green;
            }

            &:active {
                cursor: grabbing;
            }

            .brand {
                @include u.flex($justify-content: center, $align-items: center);
                width: -webkit-fill-available;
                position: relative;
                left: -2rem;

                img {
                    width: 2rem;
                }

                p {
                    margin-left: 1rem;
                    font-size: 1rem;
                }
            }
        }
    }
}

#os-menu {
    display: none;
    position: absolute;
    z-index: 10;
    background: #fff;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 3px 5px 10px rgba(255, 255, 255, .3), 6px 10px 10px rgba(255, 255, 255, .3);
    ul {
        li {
            color: rgb(46, 26, 3);
            padding: 10px 0;
            &:hover {
                background: antiquewhite;
            }
        }
    }
    &.active {
        display: block;
    }
}


/* The switch - the box around the slider */

.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 24px;
}


/* Hide default HTML checkbox */

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}


/* The slider */

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #2196F3;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(16px);
    -ms-transform: translateX(16px);
    transform: translateX(16px);
}


/* Rounded sliders */

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}
